<div class="col-lg-10">
  <form action='/locations' method='post'>
    <fieldset class="form-group">
      <label for="name">Please enter a public locations address</label>
      <input type="text" name="location[address]" class="form-control" id="name" placeholder="Please enter a public locations">
    </fieldset>
    <input type="hidden" name="location[user_id]" value="<%= current_user.id %>">
    <input type="hidden" name="location[last_name]" value="<%= current_user.first_name %>">
    <input type="hidden" name="location[last_name]" value="<%= current_user.last_name %>">
    <input type="hidden" name="location[username]" value="<%= current_user.username %>">
    <input type="hidden" name="location[email]" value="<%= current_user.email %>">
    <input type="hidden" name="location[about_me]" value="<%= current_user.about_me %>">

     <input type='submit' value='Create Restaurant' class="btn btn-danger btn-lg">
  </form>
</div>

